<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec pellentesque purus. Nunc et porta elit, sed dictum erat. Vivamus condimentum elit sit amet urna aliquam, euismod malesuada ex scelerisque. Donec dapibus odio nec est vulputate ultrices. Vivamus elementum leo id risus tincidunt, ac pharetra libero lobortis. Duis lectus sem, scelerisque vel vulputate non, finibus vitae neque. Duis varius interdum tellus a ultricies. Praesent egestas blandit justo vel finibus. Nam sed condimentum justo. Nullam efficitur mi vitae volutpat tincidunt. Donec nibh nulla, euismod in orci sed, cursus placerat ligula. Etiam felis nunc, placerat in gravida fermentum, tincidunt sit amet turpis.
  </p>
</div>
