<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="row d-flex justify-content-center">
  <div class="col-md-8 justify-content-center">
    <div class="d-flex justify-content-center">
      <h1 class="btn-box">Sign up</h1>
    </div>
    <%= render 'form_user' %>
    <div class="d-flex justify-content-center">
      <span>
        <%= render "devise/shared/links" %>
      </span>
    </div>
  </div>
</div>
