<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 bg-info box-e">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor arcu in est ullamcorper consectetur. Mauris sodales sit amet leo sit amet scelerisque. 
        Nulla risus felis, iaculis ac felis sed, ornare consectetur lectus. Etiam porttitor, neque vel sagittis dictum, est ipsum posuere est, ac imperdiet elit risus in augue. 
        Mauris a lectus sollicitudin, mattis augue id, sagittis erat. Suspendisse id orci laoreet, posuere orci non, ullamcorper sapien. Aliquam faucibus lectus eget justo euismod varius. 
        Nullam consequat hendrerit orci rhoncus commodo. Maecenas eleifend mollis consequat.
        Vestibulum neque libero, scelerisque a lacus nec, cursus cursus ipsum. Pellentesque hendrerit purus commodo euismod cursus. Nunc ultricies imperdiet dui, et scelerisque lacus mattis 
        at. Donec sodales ante semper nisl fringilla, a tempor eros fermentum. Suspendisse gravida eu dolor eget elementum. Nam dignissim lacus urna, non convallis felis rhoncus at. Nam eget 
        dictum elit, id dignissim ante. Mauris suscipit luctus justo a sagittis. Proin convallis urna quis aliquet finibus. Quisque ut semper nunc.
        </p>
    </div>
    <div class="col-md-4 bg-success box-e">
      <% @users.each do |user| %>
        <p> User: <%= user.email %> </p>  
      <% end %>
    </div>
    <div class="col-md-4 bg-warning box-e">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor arcu in est ullamcorper consectetur. Mauris sodales sit amet leo sit amet scelerisque. 
        Nulla risus felis, iaculis ac felis sed, ornare consectetur lectus. Etiam porttitor, neque vel sagittis dictum, est ipsum posuere est, ac imperdiet elit risus in augue. 
        Mauris a lectus sollicitudin, mattis augue id, sagittis erat. Suspendisse id orci laoreet, posuere orci non, ullamcorper sapien. Aliquam faucibus lectus eget justo euismod varius. 
        Nullam consequat hendrerit orci rhoncus commodo. Maecenas eleifend mollis consequat.
        Vestibulum neque libero, scelerisque a lacus nec, cursus cursus ipsum. Pellentesque hendrerit purus commodo euismod cursus. Nunc ultricies imperdiet dui, et scelerisque lacus mattis 
        at. Donec sodales ante semper nisl fringilla, a tempor eros fermentum. Suspendisse gravida eu dolor eget elementum. Nam dignissim lacus urna, non convallis felis rhoncus at. Nam eget 
        dictum elit, id dignissim ante. Mauris suscipit luctus justo a sagittis. Proin convallis urna quis aliquet finibus. Quisque ut semper nunc.
        </p>
    </div>
  </div>
</div>
