.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn-box{
  margin-top: 10px;
}

.aside-left-bar{
  color: #7D8A96;
  a{
    color: #7D8A96;
  }
  a:hover{
    color: #007BFF;
  }
  background-color: #213346;
}

.stats{
  strong.stat{
    font-weight: bold;
    font-size: 20px;
  }
  border-bottom: 2px solid #7D8A96;
}

textarea{
  border: 1px solid #bbb;
  width: 100%;
  min-height: 150px;
  margin-bottom: 15px;
}
.post-box{
  form{
    width: 100%;
  }
}
.btn-post{
  input{
    width: 100%;
  }
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-500;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
  a, span{
    padding: 0.2em 0.3em; 
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
  }
  a {
    text-decoration: none;
    color: black; 
  }
  a:hover,
  a:focus {
    text-decoration: underline; 
  }
}