@import "bootstrap";
@import "navbar";
@import "homepage";
@import "footer";
@import "miscellaneous";

// Typography.
body {
  font-family: 'Roboto', sans-serif;
  color: rgb(5, 4, 5);
}

.alert-alert {
  background-color: tomato;
  text-align: center;
}

.alert-notice {
  background-color: rgb(64, 224, 163);
  text-align: center;
}